option_settings:
  aws:elasticbeanstalk:container:java:
    JVMOptions: -Xmx512m -Xms256m
    Xmx: 512m
    Xms: 256m
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    SPRING_PROFILES_ACTIVE: production
    DATABASE_URL: jdbc:mysql://mysql-training.cd4qsem4uf1x.us-west-2.rds.amazonaws.com:3306/team1capstonedb
    DATABASE_USERNAME: admin
    DATABASE_PASSWORD: Be.Cognizant2025!
    JWT_SECRET: bXlTZWNyZXRLZXlGb3JKV1RBdXRoZW50aWNhdGlvblNlY3VyaXR5S2V5MTIzNDU2Nzg5MA==
    JWT_EXPIRATION: 86400000
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
